/* You can add global styles to this file, and also import other style files */
@import "../../ui-kit/projects/ui-components/src/themes/build/custom-theme.scss";

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.hg-padding {
    padding: 16px;
}

* {
    font-family: 'Montserrat', sans-serif;
}