<header id="header" fxLayout="row">
  <div fxFlex="20">
    Logo
  </div>
</header>
<main id="main">
  <section id="grid">
    <h2 class="header">
      <small>
        01.
      </small>
      Grid layout
    </h2>
    <hr />
    <div fxLayout="row" class="row">
      <div fxFlex="60" class="block">
        3/5
      </div>
      <div fxFlex="40" class="block">
        2/5
      </div>
    </div>
    <div fxLayout="row" class="row">
      <div fxFlex="40" class="block">
        2/5
      </div>
      <div fxFlex="60" class="block">
        3/5
      </div>
    </div>
    <div fxLayout="row" class="row">
      <div fxFlex="80" class="block">
        4/5
      </div>
      <div fxFlex="20" class="block">
        1/5
      </div>
    </div>
    <div fxLayout="row" class="row">
      <div fxFlex="20" class="block">
        1/5
      </div>
      <div fxFlex="80" class="block">
        4/5
      </div>
    </div>
    <div fxLayout="row" class="row">
      <div fxFlex class="block">
        1/3
      </div>
      <div fxFlex class="block">
        1/3
      </div>
      <div fxFlex class="block">
        1/3
      </div>
    </div>
    <div fxLayout="row" class="row">
      <div fxFlex="25" class="block">
        1/4
      </div>
      <div fxFlex="25" class="block">
        1/4
      </div>
      <div fxFlex="25" class="block">
        1/4
      </div>
      <div fxFlex="25" class="block">
        1/4
      </div>
    </div>
  </section>
  <section id="typography" fxLayout="row">
    <h2 class="header">
      <small>
        02.
      </small>
      Typography
    </h2>
    <hr />
  </section>
  <section id="colors" fxLayout="row">
    <h2 class="header">
      <small>
        03.
      </small>
      Colors
    </h2>
    <hr />
  </section>
  <section id="buttons" fxLayout="row">
    <h2 class="header">
      <small>
        04.
      </small>
      Buttons
    </h2>
    <hr />
  </section>
  <section id="forms" fxLayout="row">
    <h2 class="header">
      <small>
        05.
      </small>
      Forms
    </h2>
    <hr />
  </section>
  <section id="navigation" fxLayout="row">
    <h2 class="header">
      <small>
        06.
      </small>
      Navigation
    </h2>
    <hr />
  </section>
</main>