.hg-button {
    box-sizing: border-box;
    position: relative;
    display: inline-block;
    white-space: nowrap;
    text-decoration: none;
    overflow: visible;
    cursor: pointer;
    outline: none;
    border: none;

    -webkit-tap-highlight-color: transparent;

    &::-moz-focus-inner {
        border: 0;
    }

    &[disabled] {
        cursor: not-allowed;
    }

    &.rounded {
        border-radius: 24px;
    }

}
